html, body {
  background: #d3effc;
  margin: 0; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

header {
  text-align: center;
  position: fixed;
  width: calc(100vw - 40px);
  top: 0px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 2px solid #f2f2f2;
  padding: 10px 20px; }
  header a {
    color: #42bcf4 !important;
    text-decoration: none; }
  header h1 {
    color: #42bcf4;
    font-family: 'open_sansregular';
    font-size: 2.0em;
    text-decoration: none; }
    @media only screen and (max-width: 640px) {
      header h1 {
        font-size: 3.0em; } }
  header .header-buttons {
    font-family: 'open_sanslight';
    display: flex;
    flex-direction: row;
    line-height: 44px;
    font-size: 1.5em; }
  header .header-button {
    margin: 0 10px; }

#search_bar {
  width: 0%;
  height: 0px;
  border-radius: 0px;
  border-width: 0px;
  padding: 0 0;
    -webkit-transition: width 0.4s, border-width 0.4s, ease-in-out;
    transition: width 0.4s, border-width 0.4s, ease-in-out;
    

    
}

#search_bar:focus {
  width: 75%;
  display: block;
  height: 50px;
  border-radius: 15px;
  border-width: 2px;
    border: 1px #000 solid;
}

#results {
  margin-top: 70px;
  display: none;
  overflow: auto;
  min-height: 100vh;
  width: 100%;
  list-style-type: none;
  padding: 0; }
  #results li {
    margin: 20px 20px;
    padding: 2vh  2vw;
    overflow: hidden;
    background: #ffffff;
    border-radius: 5px; }
    @media only screen and (max-width: 640px) {
      #results li {
        border: none; } }
    #results li .headline {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 10px;
      border-bottom: 2px solid #42bcf4; }
      #results li .headline canvas {
        height: 35px !important;
        width: 35px !important;
        margin: 0 10px; }
      #results li .headline h2 {
        font-size: 1.6em; }
        @media only screen and (max-width: 640px) {
          #results li .headline h2 {
            font-size: 2.0em; } }
      #results li .headline .title {
        font-family: 'open_sansregular'; }
    #results li .opinions {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-between; }
      #results li .opinions .source {
        margin: 0 1vw;
        width: 40vw;
        margin-right: 2vw;
        margin-bottom: 1vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; }
        @media only screen and (max-width: 640px) {
          #results li .opinions .source {
            width: 100%; } }
        #results li .opinions .source div {
          display: table;
          width: calc(100% - 50px);
          min-height: 50px; }
      #results li .opinions img {
        height: 50px;
        width: 50px; }
      #results li .opinions .title {
        word-wrap: break-word;
        display: table-cell;
        vertical-align: middle;
        font-size: 1.3em;
        padding: 0 1vw;
        font-family: "open_sanslight"; }
        @media only screen and (max-width: 640px) {
          #results li .opinions .title {
            font-size: 1.5em; } }
    #results li:hover {
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
