$primary-color: #42bcf4;
$background-color: #ffffff;

$break-small: 640px;
$break-large: 1000px;

$positive: #25db5e;
$negative:#db2552;

html,body {
    background: lighten($primary-color,30%);
    margin:0;
}

h1,h2,h3,h4,h5,p{
    margin:0;
}

@mixin respond-to($media){
    @if $media == mobile {
        @media only screen and (max-width: $break-small) { @content; }
    }
}


header{
    text-align: center;
    position: fixed;
    width: calc(100vw - 40px);
    top: 0px;
    display:flex;
    z-index: 1000;
    justify-content: space-between;
    background: $background-color;
    border-bottom: 2px solid  darken($background-color,5%);
    padding: 10px 20px;
    a{
        color: $primary-color !important;
        text-decoration:none;
    }
    h1{
        color: $primary-color;
        font-family:'open_sansregular';
        font-size:2.0em;
        @include respond-to("mobile"){
            font-size:3.0em;
        }
        text-decoration: none;
    }
    .header-buttons{
        font-family:'open_sanslight';
        display: flex;
        flex-direction: row;
        line-height: 44px;
        font-size: 1.5em;
    }
    .header-button{
        margin: 0 10px;
        &:hover{
            cursor:pointer;
        }
    }
    #search_bar {
        font-family:'open_sanslight';
        width: 0px;
        height: 40px;
        border-radius: 20px;
        border: 2px solid $primary-color;
        color: $primary-color;
        font-size: 1em;
        padding: 0 5px;
        transition: all 0.2s ease;
    }
}

#wrapper{
    margin-top: 70px;
    display:none;
    width: 100%;
    padding: 0;

    h1{
        width: 100%;
        margin: 10px auto;
        text-align: center;
        font-family:'open_sansregular';
        font-size: 2em;
    }

    #graph-info{
        text-align: center;
        font-size: 1em;
        margin: 10px;
        padding: 0 10vw;
        font-family:'open_sanslight';

        h4:hover{
            cursor:pointer;
        }
    }

    #graphwrapper{
        margin: 10px auto;
        position: relative;
        height: 60vh;
        width: 80vw;
        padding: 20px;
        background: $background-color;
        border-radius: 5px;

        #entitygraph{
        }
    }

    

    /*#newsoptions{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
        padding: 0 10vw;

        img{
            height: 100px;
            width: 100px;

            &:hover{
                cursor:pointer;
            }

            &.off{
                filter: grayscale(100%);
            }
        }
    }*/
}