$primary-color: #42bcf4;
$background-color: #ffffff;

$break-small: 640px;
$break-large: 1000px;

$positive: #25db5e;
$negative:#db2552;

html,body {
    background: $background-color;
    margin:0;
}

h1,h2,h3,h4,h5,p{
    margin:0;
}

@mixin respond-to($media){
    @if $media == mobile {
        @media only screen and (max-width: $break-small) { @content; }
    }
}


header{
    display:none;
    border-bottom: 2px solid  darken($background-color,5%);
    padding: 10px 20px;
    a{
        text-decoration:none;
    }
    h1{
        color: $primary-color;
        font-family:'open_sanssemibold';
        font-size:2.0em;
        @include respond-to("mobile"){
            font-size:3.0em;
        }
        text-decoration: none;
    }
}
#results{
    display:none;
    overflow: auto;
    width: 100vw;
    list-style-type: none;
    padding: 0;

    li{
        margin: 10px 3vw;
        padding: 0  2vw;
        border-left: 5px solid black;
        max-height: 100px;
        overflow: hidden;
        transition:all 1s linear;

        &:hover{
            max-height: 100vh;
        }

        @include respond-to("mobile"){
            border: none;
        }

        .headline{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:space-between;
            margin-bottom:10px;

            h2{
                font-size: 1.5em;
                @include respond-to("mobile"){
                    font-size:2.0em;
                }
            }
            .title{
                font-family:'open_sansregular';
                .n{
                     font-family:"open_sansbold";
                }
                .o{
                    font-family:"open_sansbold";
                }
                }
            }
            .tag{
                font-family:'open_sanslight';
                color: lighten(black, 40%);
            }
        
        .opinions{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:flex-start;

            .opinion{
                max-width: 40vw;
                margin-right: 2vw;
            }
            
            .source{
                margin: 0 1vw;
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content:flex-start;
                div{
                    display:table;
                    width: calc(100% - 50px);
                    min-height: 50px;
                }
            }
            img{
               height:50px;
               width:50px;
            }
            .quote{
                word-wrap:break-word;
                display: table-cell;
                vertical-align: middle;
                font-size:1.3em;
                padding:0 1vw;
                font-family:"open_sanslight_italic";
                @include respond-to("mobile"){
                    font-size:1.5em;
                }

            }
            p,a{
                display:none;
            }
        }

        &:hover{
            cursor:pointer;
        }
    }
}

#tagline{
    display:none;
    padding:0 2vw;
    .title{
        display:inline-block;
        margin: 10px 0;
        
        font-size: 2.0em;
        font-family: "open_sansregular";
        .n{
                     font-family:"open_sansbold";
                }
                .o{
                    font-family:"open_sansbold";
                }
    }
    .opinions{
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content:flex-start;
            max-width: 80vw;
            margin-right: 2vw;

            .source{
                margin: 0 1vw;
                .source-header{
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content:flex-start;
                div{
                    display:table;
                    width: calc(100% - 100px);
                    min-height: 100px;
                }
            }

            }
            img{
               height:100px;
               width:100px;
            }
            .quote{
                word-wrap:break-word;
                display: table-cell;
                vertical-align: middle;

                font-size:1.3em;
                padding:0 1vw;
                font-family:"open_sanslight_italic";
                @include respond-to("mobile"){
                    font-size:1.5em;
                }

            }
            .summary{
                font-size:1.0em;
                margin: 10px 0;
                font-family:"open_sanslight";
                @include respond-to("mobile"){
                    font-size:0.8em;
                }

            }
            .sent-lists{
                display:flex;
                flex-direction:row;
                flex-wrap:wrap;
                justify-content:space-around;
                .positive{
                    color:$positive;
                }
                .neutral{
                    color:$primary-color;
                }
                .negative{
                    color:$negative;
                }
            .sent-list{
                padding:0;
                list-style-type:none;
                margin:0;
                li{
                    display:flex;
                    flex-direction:row;
                    justify-content:center;
                    margin: 10px 0;

                    img{
                        height:30px;
                        width:30px;
                    }
                    h4{
                        margin: 0 10px;
                        font-family:"open_sansregular";
                        font-size:1.5em;

                        @include respond-to("mobile"){
                        font-size:1.0em;
                }

                    }
                }
                    
            }
        }
        }

}
